In [54]:


import seaborn as sb
from pandas import DataFrame

tips = sb.load_dataset("tips")

tips4 = tips[tips["total_bill"] < 15]

df = DataFrame(tips, columns= ['tip','day'])

tips5 = df[df['day'] == 'Sat']
tips6 = df.groupby('day').sum()


print("Количество строк:", tips.shape[0])
print("Количество столбцов:", tips.shape[1])
print("Название 3 столбца:", tips.columns[2], '\n')
tips4
tips5
tips6
# print(tips4, '\n')
# print(tips5, '\n')
# print(tips6, '\n')

Количество строк: 244
Количество столбцов: 7
Название 3 столбца: sex

         tip
day
Thur  171.83
Fri    51.96
Sat   260.40
Sun   247.39

In [55]:

import seaborn as sb
from pandas import DataFrame

tips = sb.load_dataset("tips")

tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]